<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <connectionStrings>
    <add name="connStr" connectionString="Data Source=IDEA-PC\SQLWEB;Initial Catalog=keywordsDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="FCKEditor:BasePath" value="/keywords/fckeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/keywords/UserUpload/"/>

  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>

  <system.web>
    <pages validateRequest="false" />
  </system.web>

</configuration>
